*.orig

archsim/inc/cmake-config.h
archsim/inc/cmake-scm.h

nbproject/
*.vscode

CMakeFiles/

tests/arm-linux-tests/linux-4.3/
tests/gensim-fuzz/output

*.a
*.o
*.bin
*.processed.S
*.jar

Makefile
*.cmake
CMakeCache.txt

dist/
gtest/

gensim/src/grammar/archCBehaviour/
gensim/src/grammar/archCuArch/
gensim/src/grammar/archc/
gensim/src/grammar/archcasm/
gensim/src/grammar/genC/
gensim/src/grammar/ssa_asm/
models/armv7/output-armv7a/
models/risc-v/output-riscv32/
models/risc-v/output-riscv64/
scripts/archsim-armv7a-user
scripts/archsim-x86_64-user
tests/gensim-test-artifacts-prefix/
